@font-face {
    font-family: 'Clab Personal Use';
    src: url('ClabPersonalUse-BoldItalic.woff2') format('woff2'),
        url('ClabPersonalUse-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Clab Personal Use';
    src: url('ClabPersonalUse-Bold.woff2') format('woff2'),
        url('ClabPersonalUse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

