@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

@font-face {
  font-family: "Film-Noir-Adventure-Italic";
  src: url("../src//assets/fonts/FilmNoir/FilmNoirAdventure-Italic.woff") format('woff'),
      url("../src//assets/fonts/FilmNoir/FilmNoirAdventure-Italic.woff2") format('woff2');
}

@font-face {
  font-family: "Film-Noir-Adventure-Regular";
  src: url("../src//assets/fonts/FilmNoir/FilmNoirAdventure.woff") format('woff'),
      url("../src//assets/fonts/FilmNoir/FilmNoirAdventure.woff2") format('woff2');
}

@font-face {
  font-family: "Play-Fair-Display-Black";
  src: url("../src//assets/fonts/PlayFairDisplay/PlayfairDisplay-Black.woff") format('woff'),
      url("../src//assets/fonts/PlayFairDisplay/PlayfairDisplay-Black.woff2") format('woff2');
}

@font-face {
  font-family: "Play-Fair-Display-Regular";
  src: url("../src//assets/fonts/PlayFairDisplay/PlayfairDisplay-Regular.woff") format('woff'),
      url("../src//assets/fonts/PlayFairDisplay/PlayfairDisplay-Regular.woff2") format('woff2');
}


@font-face {
  font-family: "ThunderBlack";
  src:  url("../src//assets/fonts/Thunder/Thunder-BlackHC.woff2") format('woff2');
  
}


@font-face {
  font-family: "ThunderMedium";
  src:  url("../src//assets/fonts/Thunder/Thunder-MediumHC.woff2") format('woff2');
}

@font-face {
  font-family: "ClabBold";
  src:  url("../src//assets/fonts/Clab-font/ClabPersonalUse-Bold.woff") format('woff'),
        url("../src//assets/fonts/Clab-font/ClabPersonalUse-Bold.woff2") format('woff2');
}

@font-face {
  font-family: "CirkaBold";
  src:  url("../src//assets/fonts/Cirka-Fonts/Cirka-Bold.woff") format('woff'),
        url("../src//assets/fonts/Cirka-Fonts/Cirka-Bold.woff2") format('woff2');
}

@font-face {
  font-family: "InterRegular";
  src:  url("../src//assets/fonts/Inter-Font/Inter-Regular.woff") format('woff'),
        url("../src//assets/fonts/Inter-Font/Inter-Regular.woff2") format('woff2');
}

